@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">U with G, K, H</h3>
            </div>
            <div class="panel-body" style="background: #ddd;">
                <p>You learned Mandarin's g, k, and h consonant sounds in <a href="/tools/pronunciation/section/7">Section 7</a>. In this section we apply the Mandarin u sounds from <a href="/tools/pronunciation/section/11">Section 11</a> and <a href="/tools/pronunciation/section/12">Section 12</a> in a straightforward manner. Pay special attention to the proper pronunciation of finals uo, ui, and un.</p>

                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>u</strong></td>
                        <td><strong>ua</strong></td>
                        <td><strong>uo</strong></td>
                        <td><strong>ui</strong></td>
                        <td><strong>uai</strong></td>
                        <td><strong>uan</strong></td>
                        <td><strong>un</strong></td>
                        <td><strong>uang</strong></td>
                        <td><strong>ueng</strong></td>
                    </tr>
                    <tr>
                        <td><strong>g</strong></td>
                        <td>gu<br/></td>
                        <td>gua<br/></td>
                        <td>guo<br/></td>
                        <td>gui<br/></td>
                        <td>guai<br/></td>
                        <td>guan<br/></td>
                        <td>gun<br/></td>
                        <td>guang<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>k</strong></td>
                        <td>ku<br/></td>
                        <td>kua<br/></td>
                        <td>kuo<br/></td>
                        <td>kui<br/></td>
                        <td>kuai<br/></td>
                        <td>kuan<br/></td>
                        <td>kun<br/></td>
                        <td>kuang<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>h</strong></td>
                        <td>hu<br/></td>
                        <td>hua<br/></td>
                        <td>huo<br/></td>
                        <td>hui<br/></td>
                        <td>huai<br/></td>
                        <td>huan<br/></td>
                        <td>hun<br/></td>
                        <td>huang<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}