@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">Ü with J, Q, X</h3>
            </div>
            <div class="panel-body" style="background: #ddd;">
                <p>As mentioned in <a href="/tools/pronunciation/section/15">Section 15</a>, the umlaut (the two dots over the u) in the Mandarin vowel sound ü are not always written in pinyin. This is true for all pinyin syllables beginning with "yu," and it is also true for all the syllables presented in this section. This does not cause confusion because the consonants j, q, and x never combine with Mandarin's basic u vowel (as introduced in <a href="/tools/pronunciation/section/11">Section 11</a>). In fact, the only vowels that j, q, and x ever combine with are i and ü. Knowing this will help you accurately recognize the syllables of spoken Mandarin. </p>
                <p>The pronunciation of the consonants j, q, and x, (see <a href="/tools/pronunciation/section/10">Section 10</a>) in combination with the vowels ü, üe, üan, and ün (introduced in <a href="/tools/pronunciation/section/15">Section 15</a>) are completely as you would expect.</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>ü</strong></td>
                        <td><strong>üe</strong></td>
                        <td><strong>üan</strong></td>
                        <td><strong>ün</strong></td>
                    </tr>
                    <tr>
                        <td><strong>j</strong></td>
                        <td>ju<br/></td>
                        <td>jue<br/></td>
                        <td>juan<br/></td>
                        <td>jun<br/></td>
                    </tr>
                    <tr>
                        <td><strong>q</strong></td>
                        <td>qu<br/></td>
                        <td>que<br/></td>
                        <td>quan<br/></td>
                        <td>qun<br/></td>
                    </tr>
                    <tr>
                        <td><strong>x</strong></td>
                        <td>xu<br/> </td>
                        <td>xue<br/></td>
                        <td>xuan<br/></td>
                        <td>xun<br/></td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}