@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">A, O with ZH, CH, SH, R</h3>
            </div>
            <div class="panel-body" style="background: #ddd;">
                <p>The Mandarin consonant sounds zh, ch, and sh are similar to English's "j," "ch," and "sh" sounds, but not exactly the same. The beginner will find this approximation perfectly serviceable, but the serious student will want to refine his pronunciation of these consonants eventually.</p>
                <p>First, the zh, ch, and sh sounds in Mandarin are all pronounced with the tongue in the same place, just as the sounds "j," "ch," and "sh" in English are all pronounced with the tongue in the same place. Try saying those English sounds (just the consonants) in a row. You don't have to move your tongue to do it. Thus, what is true for the tongue positioning of zh is also true for ch and sh. For this explanation we will use zh, as its spelling makes it more difficult to mistake it for its English consonant sound.</p>
                <p>When you pronounce Mandarin's zh sound, your tongue is an a similar position the one you use to make English's "j" sound, except the tongue is pulled back or "curled back" a bit more. (Don't obsess over the "curling" idea; you'll probably manage to make a more natural sound without trying to consciously curl your tongue back.) Thus instead of resting right on that ridge behind your front teeth (the alveolar ridge) as it does when you make the "j" sound, the tip of your tongue is further back, behind the ridge. Behind the ridge the roof of your mouth curves upwards, forming your hard palate. The tip of the tongue hovers right in front of the hard palate, creating a narrow gap.</p>

                <table width="330" cellspacing="0" cellpadding="0" border="0" class="text-center">
                    <tbody><tr>
                        <td valign="middle" class="text-center"><img width="450" height="146" alt="pronunciation" src="/img/pronu_s4.gif"/></td>
                    </tr>
                    </tbody>
                </table>
                <p>This tongue positioning will be more important for other vowel combinations, particularly in<a href="/tools/pronunciation/section/9">('Section 9</a> ('of this tutorial. For now, you should be able to correctly pronounce the following consonant-vowel combinations:</p>
                <table cellspacing="1" cellpadding="2" border="0" bgcolor="#dddddd" aglin="center" class="table-border">
                    <tbody><tr bgcolor="#ffffff">
                        <td width="80">zha</td>
                        <td width="80">cha</td>
                        <td width="80">sha</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>zhai</td>
                        <td>chai</td>
                        <td>shai</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>zhao</td>
                        <td>chao</td>
                        <td>shao</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>zhan</td>
                        <td>chan</td>
                        <td>shan</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>zhang</td>
                        <td>chang</td>
                        <td>shang</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>zhong</td>
                        <td>chong</td>
                        <td>shong</td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td>zhou</td>
                        <td>chou</td>
                        <td>shou</td>
                    </tr>
                    </tbody></table>
                <p>Another sound which seems quite different from the zh, ch, and sh sounds but is actually very similar is the Mandarin r. The Mandarin r is fairly similar to the [ʒ] sound you hear in the middle of the word "mea<u>s</u>ure." ('Try making this sound by itself. You'll find your tongue in the same place as it was for the sounds of "j," "ch," and "sh" in English. Now, just as before, pull the tip of your tongue back behind the ridge. Try making the sound now. It should produce a strange, "buzzy" sort of sound. This is the Mandarin r. It will take some practice to be able to produce it reliably.</p>
                <p>The Mandarin r does not combine with quite as many vowels as zh, ch, and sh:</p>
                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section's pinyin vowel sounds:</p>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="30">&nbsp;</td>
                        <td width="80">Mandarin: </td>
                        <td width="30"><span class="orangef60">zh</span></td>
                        <td width="150">[ts]</td>
                        <td width="60">English:</td>
                        <td width="35">"j"</td>
                        <td><span class="specialfont">[dʒ]</span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td><span class="orangef60">ch</span></td>
                        <td><span class="specialfont">[tsʰ]</span></td>
                        <td>English:</td>
                        <td width="30">"ch"</td>
                        <td><span class="specialfont">[tʃ]</span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Mandarin: </td>
                        <td><span class="orangef60">sh</span></td>
                        <td>[s]</td>
                        <td>('English:</td>
                        <td width="30">"sh"</td>
                        <td><span class="specialfont">[ʃ]</span></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>('Mandarin: </td>
                        <td><span class="orangef60">r</span></td>
                        <td><span class="specialfont">[ɻ] or [ʐ]</span></td>
                        <td>('English:</td>
                        <td width="30">"r"</td>
                        <td><span class="specialfont">[ɹ]</span></td>
                    </tr>
                    </tbody></table>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>a</strong></td>
                        <td><strong>ai</strong></td>
                        <td><strong>ao</strong></td>
                        <td><strong>an</strong></td>
                        <td><strong>ang</strong></td>
                        <td><strong>o</strong></td>
                        <td><strong>ong</strong></td>
                        <td><strong>ou</strong></td>
                    </tr>
                    <tr>
                        <td><strong>zh</strong></td>
                        <td>zha<br/></td>
                        <td>zhai<br/></td>
                        <td>zhao<br/></td>
                        <td>zhan<br/></td>
                        <td>zhang<br/></td>
                        <td>&nbsp;</td>
                        <td>zhong<br/></td>
                        <td>zhou<br/></td>
                    </tr>
                    <tr>
                        <td><strong>ch</strong></td>
                        <td>cha<br/></td>
                        <td>chai<br/></td>
                        <td>chao<br/></td>
                        <td>chan<br/></td>
                        <td>chang<br/></td>
                        <td>&nbsp;</td>
                        <td>chong<br/></td>
                        <td>chou<br/></td>
                    </tr>
                    <tr>
                        <td><strong>sh</strong></td>
                        <td>sha<br/></td>
                        <td>shai<br/></td>
                        <td>shao<br/></td>
                        <td>shan<br/></td>
                        <td>shang<br/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>shou<br/></td>
                    </tr>
                    <tr>
                        <td><strong>r</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>rao<br/></td>
                        <td>ran<br/></td>
                        <td>rang<br/></td>
                        <td>&nbsp;</td>
                        <td>rong<br/> </td>
                        <td>rou<br/></td>
                    </tr></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@}