@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">E with Z, C, S, ZH, CH, SH, R</h3>
            </div>
            <div class="panel-body" style="background: #ddd;">
                <p>This section contains no new sounds. Rather, it combines sounds you have already learned in <a href="/tools/pronunciation/section/3">Section 3</a>, <a href="/tools/pronunciation/section/4">Section 4</a>, and <a href="/tools/pronunciation/section/5">Section 5</a> to form new syllables. The pronunciation of the Mandarin sounds e, ei, en, and eng follow the same rules as in <a href="/tools/pronunciation/section/5">Section 5</a>. Notice, however, that not every combination is used in Mandarin. (Those spaces are left blank in the chart.)</p>
                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody><tr>
                        <td>&nbsp;</td>
                        <td><strong>e</strong></td>
                        <td><strong>ei</strong></td>
                        <td><strong>en</strong></td>
                        <td><strong>eng</strong></td>
                        <td><strong>er</strong></td>
                    </tr>
                    <tr>
                        <td>z</td>
                        <td>ze<br/></td>
                        <td>zei<br/></td>
                        <td>zen<br/></td>
                        <td>zeng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>c</strong></td>
                        <td>ce<br/></td>
                        <td>&nbsp;</td>
                        <td>cen<br/></td>
                        <td>ceng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>s</strong></td>
                        <td>se<br/></td>
                        <td>&nbsp;</td>
                        <td>sen<br/></td>
                        <td>seng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>zh</strong></td>
                        <td>zhe<br/></td>
                        <td>zhei<br/></td>
                        <td>zhen<br/></td>
                        <td>zheng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>ch</strong></td>
                        <td>che<br/></td>
                        <td>&nbsp;</td>
                        <td>chen<br/></td>
                        <td>cheng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>sh</strong></td>
                        <td>she<br/></td>
                        <td>shei<br/></td>
                        <td>shen<br/></td>
                        <td>sheng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>r</strong></td>
                        <td>re<br/></td>
                        <td>&nbsp;</td>
                        <td>ren<br/></td>
                        <td>reng<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>

    </div>
</div>

@}