@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <img src="/static/img/sir-banner-ad.jpg" style="width: 100%">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background: #ccc;">
                <h3 class="panel-title panel-title-style">I with Easy Consonants</h3>
            </div>
            <div class="panel-body" style="background: #ddd;">
                <p>The pronunciation of the Mandarin i vowel sound is largely uniform. (It deviates only when paired with consonant sounds zh, ch, sh and r, as you will learn in <a href="/tools/pronunciation/section/9">Section 9</a>.)</p>
                <p>'The sound you must know is the solitary i vowel sound. It is written i when paired with an initial consonant (for example, bi, di, li, etc.), and written yi when not paired with it stands alone. It sounds like the English sound "ee" as in "see." This pronunciation holds true for all the syllables introduced in this section.</p>
                <p>The Mandarin sound ia is pronounced like the "ya" in the slang English phrase "see ya." When it forms a syllable all by itself, it is written ya, and written ia when it is preceded by a consonant (lia, for example).</p>
                <p>The Mandarin sound iao is pronounced by simply adding an "oh"/"oo" sound (the same o sound that you learned in <a href="/tools/pronunciation/section/2">Section 2</a>) to the end of the ia syllable. Likewise, it is written as yao when it stands alone, and iao when it is preceded by a consonant (for example, piao, diao, liao).</p>
                <p>In <a href="/tools/pronunciation/section/5">Section 5</a> you learned that when e pairs with i, the e makes an "eh" sound as in the English word "vein." The e makes the same sound when it precedes the i in the ie vowel sound. Thus, ie sounds like the "ye" in the English word "yes," and is indeed written as ye when not preceded by a consonant. It is written as ie when it comes after a consonant (for example, bie, mie, tie).</p>
                <p>Mandarin's iu sound can confuse you because what is written is actually an abbreviated form of "iou," a straightforward combination of the vowel sounds i and ou (see <a href="/tools/pronunciation/section/2">Section 2</a>). Thus the iu syllable sounds similar to the "yo" of the English word "yo-yo," with a bit more "oo" sound on the end. It is written as you when it stands alone, and as iu when it is preceded by a consonant (for example, diu, niu, liu).</p>
                <p>Mandarin's ian sound should be a straightforward combination of the i and an (see <a href="/tools/pronunciation/section/1">Section 1</a>) sounds, but it actually comes out sounding very similar to the English pronunciation of "yen", as in, "Japanese yen." When ian forms a syllable unto itself it is written as yan. When a consonant preceeds it, it is written as ian (for example, bian, pian, mian).</p>
                <p>The in sound in Mandarin sounds very much like English’s "een" sound, as in the word "green." When no consonant comes before it, it is written as yin; otherwise it is written as in (for example, pin, min, lin). The ing (ying) sounds are the same, but with an "ng" sound in place of the "n" sound.</p>
                <p>The iong sound is a straightforward combination of the i sound and the ong sound (see <a href="/tools/pronunciation/section/2">Section 2</a>). The form yong when it stands alone should come as no surprise. The iong sound, however, does not combine with any of the consonants you have learned thus far (see <a href="/tools/pronunciation/section/9">Section 9'</a> for that).</p>

                <p><strong>Linguist's Note:</strong></p>
                <p>The following are the IPA symbols for this section’s pinyin consonant sounds:</p>

                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="30">&nbsp;</td>
                        <td width="80">-i, yi</td>
                        <td width="150">[i]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-ia, ya</td>
                        <td>[ia]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-iao, yao</td>
                        <td>[iau]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-ie, ye</td>
                        <td>[iɛ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-iu, you</td>
                        <td>[iou]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-ian, yan</td>
                        <td>[ian]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-in, yin</td>
                        <td>[in]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-ing, ying</td>
                        <td>[iŋ]</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>-iong, yong</td>
                        <td>[ioŋ]</td>
                    </tr>
                    </tbody></table>

                <p>Listen to the sounds of this section and try repeating them by clicking on the syllables below:</p>

                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-border">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong>i</strong></td>
                        <td><strong>ia</strong></td>
                        <td><strong>iao</strong></td>
                        <td><strong>ie</strong></td>
                        <td><strong>iu</strong></td>
                        <td><strong>ian</strong></td>
                        <td><strong>iang</strong></td>
                        <td><strong>in</strong></td>
                        <td><strong>ing</strong></td>
                        <td><strong>iong</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>yi<br/></td>
                        <td>ya<br/></td>
                        <td>yao<br/></td>
                        <td>ye<br/></td>
                        <td>you<br/></td>
                        <td>yan<br/></td>
                        <td>yang<br/></td>
                        <td>yin<br/></td>
                        <td>ying<br/></td>
                        <td>yong<br/></td>
                    </tr>
                    <tr>
                        <td><strong>b</strong></td>
                        <td>bi<br/></td>
                        <td>&nbsp;</td>
                        <td>biao<br/></td>
                        <td>bie<br/></td>
                        <td>&nbsp;</td>
                        <td>bian<br/></td>
                        <td>&nbsp;</td>
                        <td>bin<br/></td>
                        <td>bing<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>p</strong></td>
                        <td>pi<br/></td>
                        <td>&nbsp;</td>
                        <td>piao<br/></td>
                        <td>pie<br/></td>
                        <td>&nbsp;</td>
                        <td>pian<br/></td>
                        <td>&nbsp;</td>
                        <td>pin<br/></td>
                        <td>ping<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>m</strong></td>
                        <td>mi<br/></td>
                        <td>&nbsp;</td>
                        <td>miao<br/></td>
                        <td>mie<br/></td>
                        <td>miu<br/></td>
                        <td>mian<br/></td>
                        <td>&nbsp;</td>
                        <td>min<br/></td>
                        <td>ming<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>f</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>d</strong></td>
                        <td>di<br/></td>
                        <td>&nbsp;</td>
                        <td>diao<br/></td>
                        <td>die<br/></td>
                        <td>diu<br/></td>
                        <td>dian<br/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>ding<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>t</strong></td>
                        <td>ti<br/></td>
                        <td>&nbsp;</td>
                        <td>tiao<br/></td>
                        <td>tie<br/></td>
                        <td>&nbsp;</td>
                        <td>tian<br/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>ting<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>n</strong></td>
                        <td>ni<br/></td>
                        <td>&nbsp;</td>
                        <td>niao<br/></td>
                        <td>nie<br/></td>
                        <td>niu<br/></td>
                        <td>nian<br/></td>
                        <td>niang<br/></td>
                        <td>nin<br/></td>
                        <td>ning<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>l</strong></td>
                        <td>li<br/></td>
                        <td>lia<br/></td>
                        <td>liao<br/></td>
                        <td>lie<br/></td>
                        <td>liu<br/></td>
                        <td>lian<br/></td>
                        <td>liang<br/></td>
                        <td>lin<br/></td>
                        <td>ling<br/></td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@}